@model List<Doctor>

@{
    var count = 0;
}

<div class="container">
    <a class="btn btn-primary" asp-action="Create">Create</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">FullName</th>
                <th scope="col">Position</th>
                <th scope="col">Photo</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                count++;
                <tr>
                    <th>@count</th>
                    <td>@item.Name</td>
                    <td>@item.Position</td>
                    <td>
                        <div style="width:100px">
                            <img width="100%" src="\Upload\manage\@item.ImgUrl">
                        </div>
                    </td>


                    <td>
                        <a class="btn btn-secondary" asp-action="Update" asp-route-id="@item.Id">Update</a>
                        <a class="btn btn-danger" asp-action="Remove" asp-route-id="@item.Id">Remove</a>
                    </td>
                </tr>
                
            }
           
        </tbody>
    </table>
</div>
